<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="seoudi" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Seoudi Configuration</label>
            <tab>general</tab>
            <resource>Seoudi_GraphqlExtend::config_seoudi</resource>
            <group id="graphql_extend" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Config Field</label>
                <field id="config_field" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Config Field</label>
                </field>
            </group>
        </section>
    </system>
</config>
