<?xml version="1.0"?>
<!--
/**
 * Seoudi Software
 *
 * @category Seoudi
 * @package Seoudi_RewardSystem
 * @author Seoudi
 * @copyright Copyright (c) Seoudi Software Private Limited (https://Seoudi.com)
 * @license https://store.Seoudi.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Model\Export\MetadataProvider">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="rewardsystem_reward_details" xsi:type="array">
                    <item name="updated_at" xsi:type="string">updated_at</item>
                </item>
                <item name="rewardsystem_reward_individual_details" xsi:type="array">
                    <item name="transaction_at" xsi:type="string">transaction_at</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
